@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primaryTextColor);
  font-family: var(--primaryFont);
}

@font-face {
  font-family: "Uni Sans";
  src: url("/fonts/Uni Sans Heavy.otf");
}

body {
  background: var(--primaryBackgroundColor);
}

button {
  cursor: pointer;
  transition: opacity 0.2s;
}

button:disabled {
  cursor: not-allowed;
  opacity: 70%;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.err-msg {
  color: var(--errorColor);
  font-size: 0.7rem;
}
