:root {
  --primaryBackgroundColor: #000;
  --secondaryBackgroundColor: #212121;
  --borderColor: #383838;
  --primaryColor: #3580d9;
  --secondaryColor: #ed553b;
  --primaryTextColor: #fff;
  --primaryFont: Inter, serif;
  --secondaryFont: "Uni Sans", serif;
}
