:root {
  --primaryBackgroundColor: #000;
  --secondaryBackgroundColor: #212121;
  --tertiaryBackgroundColor: #2e2e2e;
  --borderColor: #383838;
  --primaryColor: #0584e3;
  --secondaryColor: #fb452d;
  --errorColor: #bd1717;
  --primaryTextColor: #fff;
  --secondaryTextColor: #a4a4a4;
  --primaryFont: Inter, serif;
  --secondaryFont: "Uni Sans", serif;
}
